/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #1E07B5
background-color = #faf9f0
font-family Verdana, Geneva, sans-serif

body
  background-color background-color
  color #444
  padding 5x

#main-title
  font-size 30px
  padding 10px

#tweet-div
  padding 10px
  width auto
  float left

.filter
  padding 10px
#tweet-filter
  margin-top 5px
  margin-bottom 10px
  font-size 15px
#tweet-filter-button
#tweet-filter-reset
  font-size 15px
.tweet-header
  td
    border-bottom solid thin black
    vertical-align bottom
    text-align left
    padding 5px
.tweet-item
  width 600px
  border solid thin black
  padding 10px
  margin-bottom 5px
.tweet
.user-profile
.user-info
  position
.tweet-text
  padding-top 15px
  font-size 20px 
  word-wrap break-word
  word-break break-all
  overflow-wrap break-word
  white-space pre-line

.tweet-img
  position left
  height 250px
  width 400px
